/* Cascading Style Sheets */

/*
#1# We can use variables in SASS which is built on the top of CSS. 
The brwoesr isn't able to read the sass file wich has scss format.

#2# We have to convert it to css with the following comand line 
sass variables.scss variable.css 

#3# to recopile the scss file automaticly use the floowing coman line 
sass --watch variables.scss:variables.css
*/

#submit {

    background-color: lightcoral;
    height: 25px;
    width: 60px;
}

button:hover{
    background-color: blue;
}


h1{
    color: brown;
    text-align:center;
}

h2{
    color: brown;
    text-align:left;
}

p{
    border: 3px  red;
    color: brown;
    text-align: left;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

#Bottom {
    color: brown;
    text-align:center;
    font-size: 40px;
    text-align:center;
}

.name{
    color:blue;
    font-size: 20px;
}
form{
    text-align: justify;
}
a::before{
    font-weight: bolder;
    content: "\21d2 click here ";
    /*content: "\2713 click here ";*/
}
a::after{
    content: "\2713";
}
p::selection {
    background-color: lightgreen;
    color: red;
}
/*
@media print {
    .display{
        display: none;
    }
}
*/
@media (min-width: 900px){
    body {
        background-color:lightgrey;
    }
    h1::before {
        content: "Desktop version";
    }
}

@media (max-width: 899px){
    body {
        background-color:lightpink;
    }
    h1::before {
        content: "Mobile version";
    }
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.container > div{
    background-color: brown;
    font-size: 20px;
    margin: 20px;
    padding:20px;
    width: 200px;
}